/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}


/*
 *Para quitar las flechitas de seleccion de numero
 */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*
 *Cuando se muestra un error en un campo, se colorea en rojo
 */
label.error {
  color: red;
}

textarea {
   resize: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
}

ul {
  list-style: none;
}

#titleTicket {
  font-size: 25px;
}